/*agenda*/

.events .event {
  width: 12.5vw;
  height: max-content;
  background: var(--vert);
  border: inset 1vw var(--vert);
  padding: 1vw;
  /*margin: 0 1vw 1vw 0;*/
  float: left;
}

.events .event.permanent {
  width: 25vw;
  /*height: 35vh;*/
  background: var(--gris);
  border: inset 1vw var(--gris);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.event span {
  display: block;
  color: #fff;
}

.event a {
  color: #fff;
}

.event a:hover {
  color: #000;
}

.event a::before {
  content: '\27A1';
  display: inline-block;
  padding-right: .25vw;
}
