/*variables*/
:root {
    /*color*/
    --jaune: #f4da3f;
    --orange: #f18520;
    --vert: #46bc4e;
    --gris: #d1cac8;
    --rose: #ffd9c2;
    /*type*/
    --serif: 'wremena_light', serif;
    --sans: 'Arial', sans-serif;
}

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--sans);
    color: #000;
}

body {
    font-size: 1rem;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    padding-bottom: 1rem;
}

h1 {
    font-size: 1.5vw;
    font-family: var(--serif);
    text-transform: uppercase;
}

h2 {
    font-size: 1.25vw;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    padding-bottom: 1rem;
}

/* Utility Classes */
#body {
    width: 96%;
    margin-left: 4%;
}

.wrapper {
    padding: 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}