/*fonts */

@font-face {
    font-family: 'wremena_light';
    src: url('../../fonts/wremena/wremena_light-webfont.eot');
    src: url('../../fonts/wremena/wremena_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/wremena/wremena_light-webfont.woff2') format('woff2'),
         url('../../fonts/wremena/wremena_light-webfont.woff') format('woff'),
         url('../../fonts/wremena/wremena_light-webfont.ttf') format('truetype'),
         url('../../fonts/wremena/wremena_light-webfont.svg#wremenalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wremena_regular';
    src: url('../../fonts/wremena/wremena_regular-webfont.eot');
    src: url('../../fonts/wremena/wremena_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/wremena/wremena_regular-webfont.woff2') format('woff2'),
         url('../../fonts/wremena/wremena_regular-webfont.woff') format('woff'),
         url('../../fonts/wremena/wremena_regular-webfont.ttf') format('truetype'),
         url('../../fonts/wremena/wremena_regular-webfont.svg#wremenaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}