/*header*/

.header .wrapper {
	height: 100%;
    width: 50%;
    position: fixed;
    background-color: var(--jaune);
    -webkit-transform: translateX(-92%);
    -ms-transform: translateX(-92%);
    transform: translateX(-92%);
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
}

.header .logo {
    font-size: 1rem;
    text-transform: uppercase;
    display: none;
}

button.menu {
	position: fixed;
	cursor: pointer;
	font-size: .9vw;
	top: 1rem;
	left: 1rem;
	z-index: 1;
}

.main-nav ul {
	font-size: 6vw;
    font-family: var(--serif);
    text-transform: uppercase;
	list-style-type: none;
	padding: 2rem 0;
	margin: 0;
}

.main-nav ul li.selected {
	display: none;
}


/*langswitcher*/
.langswitcher {
    position: absolute;
    display: inline-block;
    left: 1rem;
    bottom: 1rem;
}

.langswitcher li {
    display: inline-block;
}

.langswitcher a {
	text-transform: capitalize;
}

.langswitcher a::after {
	content: ', ';
}

.langswitcher li:last-child a::after {
	content: '';
}

.langswitcher .active {
    font-weight: bold;
}

/*footer*/
.footer {
    background-color: var(--gris);
}