/*homepage*/

.main_content {
	float: left;
}

.sidebar {
	position: absolute;
	right: 1rem;
}

.sidebar > h1 {
	display: none;
}

.sidebar .event {
	max-width: 12.5vw;
	height: max-content;
	background: var(--vert);
  	border: inset 1vw var(--vert);
  	padding: 1vw;
	float: none;
}

.sidebar .event.permanent {
	background: var(--gris);
	border: inset 1vw var(--gris);
}