html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
	display:block
}

body {
	line-height:1
}

ol, ul {
	list-style:none
}

blockquote, q { 
	quotes:none
}

blockquote:before,
blockquote:after,
q:before,q:after {
	content:none
}

table {
	border-collapse:collapse;
	border-spacing:0
}

html {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
 	box-sizing: inherit;
}

/* Buttons and input buttons */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button { 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button { 
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner { 
	border: 0;
	padding: 0;
}

*:focus {
	outline: none;
}