{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
        <div class="documents clearfix">
          {% set documents = page.collection() %}
          {% for document in documents %}
            <div class="document">
              <h2 class="document_title">{{ document.title }}</h2>
              <p class="document_content">{{ document.content }}</p>
            </div>
          {% endfor %}
        </div>
{% endblock %}