{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}

    {% if config.plugins['simple-events'].use_regions %}
      <h1>Please disable regions in "simple-event" plugin settings</h1>
    {% else %}
        <div class="events clearfix">
          {% set events = page.collection() %}
          {% for event in events %}
            {% set config = attribute(event.header, 'simple-events') %}

            {% if config.end is defined and config.end != config.start %}
              {# {% set eventdate = config.start|date('M j') ~ ' – ' ~ config.end|date('M j, Y') %} #}
              {% set eventdate = config.start|date('j.m') ~ ' – ' ~ config.end|date('j.m.y') %}
            {% else %}
              {% set eventdate = config.start|date('j.m.y') %}
            {% endif %}

            {% if config.link is defined %}
              {% set eventtext = linkit(event.title, config.link) %}
            {% else %}
              {% set eventtext = event.title %}
            {% endif %}

            {# <li><span class="eventdate">{{ eventdate }}</span>{{ eventtext }}</li> #}
            
            {% if event.header.type == false %}
              <div class="event">
            {% else %}
              <div class="event permanent">
            {% endif %}
              <h2 class="event_date">{{ eventdate }}</h2>
              <h1 class="event_title">{{ event.header.title }}</h1>
              <p class="event_content">{{ event.header.text }}</p>
              <span class="event_time">{{ event.header.time }}</span>
              <span class="event_organiser">{{ event.header.organiser }}</span>
              <span class="event_location">{{ config.location }}</span>
              {% if event.header.links %}
                {% for key, rel in event.header.links %}
                    <a href="{{ rel }}" target="_blank">{{ key }}</a>
                {% endfor %}
              {% endif %}
            </div>

          {% endfor %}
        </div>
    {% endif %}
{% endblock %}