{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="main_content">
    	{{ page.content }}
	</div>
	<div class="sidebar">
		<h1>upcoming events</h1>
		{% for event in page.find('/agenda').children.order('date', 'asc').slice(0, 2) %}
			{% set config = attribute(event.header, 'simple-events') %}

            {% if config.end is defined and config.end != config.start %}
              {% set eventdate = config.start|date('j.m') ~ ' – ' ~ config.end|date('j.m.y') %}
            {% else %}
              {% set eventdate = config.start|date('j.m.y') %}
            {% endif %}

		    {% if event.header.type == false %}
              <div class="event">
            {% else %}
              <div class="event permanent">
            {% endif %}
              <h2 class="event_date">{{ eventdate }}</h2>
              <h1 class="event_title">{{ event.header.title }}</h1>
              <p class="event_content">{{ event.header.text }}</p>
              <span class="event_time">{{ event.header.time }}</span>
              <span class="event_organiser">{{ event.header.organiser }}</span>
              <span class="event_location">{{ config.location }}</span>
              {% if event.header.links %}
                {% for key, rel in event.header.links %}
                    <a href="{{ rel }}" target="_blank">{{ key }}</a>
                {% endfor %}
              {% endif %}
            </div>
		{% endfor %}
	</div>
{% endblock %}
