{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/style.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/script.js', {group : 'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.title }}">

{% block header %}
    <div class="header">
        <button class="menu">menu</button>
        <div class="wrapper">
                <a class="logo" href="{{ home_url }}">
                    {{ config.site.title }}
                </a>
                {% block header_navigation %}
                    <nav class="main-nav">
                        {% include 'partials/navigation.html.twig' %}
                    </nav>
                {% endblock %}
            {% include 'partials/langswitcher.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper clearfix">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{# {% block footer %}
    <div class="footer">
        <div class="wrapper">
            // add content here 
        </div>
    </div>
{% endblock %} #}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
